{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token }}">
        {% block meta %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
        <link rel="stylesheet" href="{% static 'css/nav.css' %}">
        <link rel="stylesheet" href="{% static 'css/layouts.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        {% block links %} {% endblock %}
    </head>

    <body>
        <div class="modal-overlay">
            {% block modals %}
            {% endblock %}
        </div>

        <header>  
            <nav class = "navigation">
                <a href="{% url 'home' %}" class="logo">
                    <img src="{% static 'images/logo/worldIT-logo.svg' %}" alt="">
                </a>
                {% if '/auth/' not in request.path %}
                    <div class="menu">
                        <div class = "nav-items-container">
                            <a class = "nav-item" href="{% url 'home' %}">
                                <div class= "nav-img-container">
                                    <img class = "img-cover" src= "{% static 'images/logo/home-logo.svg' %}" alt="">
                                </div>
                                <span class="nav-item-text">Головна</span>
                            </a>
                            <a class = "nav-item" href="{% url 'my_posts' %}">
                                <div class= "nav-img-container">
                                    <img class = "img-cover" src= "{% static 'images/logo/post-logo.svg' %}"" alt="">
                                </div>
                                <span class="nav-item-text">Мої публікації</span>
                            </a>
                            <a class = "nav-item" href="{% url 'friends' %}">
                                <div class= "nav-img-container">
                                    <img class = "img-cover" src="{% static 'images/logo/people-logo.svg' %}" alt="">
                                </div>
                                <span class="nav-item-text">Друзі</span>
                            </a>
                            <a class = "nav-item" href="{% url 'chat' %}">
                                <div class= "nav-img-container">
                                    <img class = "img-cover" src="{% static 'images/logo/chat-logo.svg' %}" alt="">
                                </div>
                                <span class="nav-item-text">Чати</span>
                            </a>
                            <a class = "nav-item" href="{% url 'settings' %}">
                                <div class= "nav-img-container">
                                    <img class = "img-cover" src="{% static 'images/logo/settings-logo.svg' %}" alt="">
                                </div>
                                <span class="nav-item-text">Налаштування</span>
                            </a>
                        </div>
                        
                        <a href="#" class="logout">
                            <img class = "img-cover" src="{% static 'images/logo/logout_button.svg' %}" alt="">
                            <form id = "logout-form" action="{% url 'logout' %}" method= "post">
                                {% csrf_token %}
                            </form>
                        </a>
                    </div>
                    
                {% endif %}   
            </nav>
        </header>
        
        <main>
            {% if '/auth/' not in request.path %}
                <div class= "side-block-spacer">
                    <div class = "side-block">  
                        {% block side_block %}{% endblock %}
                    </div>
                </div>
            {% endif %}
            <div class = "content">
                {% block content %}

                {% endblock %}
            </div>    
        </main>
        {% block scripts %}{% endblock %}
        <script src= "{% static 'js/active.js' %}"></script>
        {% if '/auth/' not in request.path %}
            <script src= "{% static 'js/logout.js' %}"></script>
        {% endif %}
    </body>
</html>