{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/layouts.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        {% block links %} {% endblock %}
    </head>

    <body>
        <header>
            
            <nav class = "navigation">
                <a href="" class="logo">
                    <img src="{% static 'images/logo/worldIT-logo.svg' %}" alt="">
                </a>
                {% if request.path != '/auth' %}
                    <div class="menu">
                        <a class = "nav-item" href="{% url 'home' %}">
                            <img src= "{% static 'images/logo/home-logo.svg' %}" alt="">
                            <span>Головна</span>
                        </a>
                        <a class = "nav-item" href="{% url 'my_posts' %}">
                            <img src= "{% static 'images/logo/post-logo.svg' %}"" alt="">
                            <span>Мої публікації</span>
                        </a>
                        <a class = "nav-item" href="{% url 'friends' %}">
                            <img src="{% static 'images/logo/people-logo.svg' %}" alt="">
                            <span>Друзі</span>
                        </a>
                        <a class = "nav-item" href="">
                            <img src="{% static 'images/logo/chat-logo.svg' %}" alt="">
                            <span>Чати</span>
                        </a>
                        <a class = "nav-item" href="{% url 'settings' %}">
                            <img src="{% static 'images/logo/settings-logo.svg' %}" alt="">
                            <span>Налаштування</span>
                        </a>
                        <a href="" class="logout">
                            <img src="{% static 'images/logo/logout_button.svg' %}" alt="">
                        </a>
                    </div>
                {% endif %}   
            </nav>
        </header>

        <main>
            <div class = "main-container">
                <div class= "side-block-spacer">
                    <div class = "side-block">  
                        {% block side_block %}{% endblock %}
    
                    </div>
                </div>
            
                <div class = "content">
                    {% block content %}

                    {% endblock %}
                </div>    
                    
            </div>
        </main>
        {% block scripts %}{% endblock %}
    </body>
</html>