{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/layouts.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        {% block links %}
        {% endblock %}
    </head>

    <body>
        <header>
            <div class="header">
                <div class="logo">
                    <img src="{% static 'images/logo/worldIT-logo.svg' %}" alt="">
                </div>
                <nav class = 'navigation'>
                    <div class = "nav-item{% if request.resolver_match.url_name == 'home' %} active {% endif %}">
                        <div class = "img-item">
                            <img class = "img-cover" src="{% static 'images/logo/home-logo.svg' %}" alt="">
                        </div>
                            <a href="{% url 'home' %}">Головна</a>
                    </div>

                    <div class="nav-item{% if request.resolver_match.url_name == 'my_posts' %} active {% endif %}">
                        <div class = "img-item">
                            <img class = "img-cover" src="{% static 'images/logo/post-logo.svg' %}" alt="">
                        </div>
                        <a href="{% url 'my_posts' %}">Мої публікації</a>
                    </div>

                    <div class="nav-item{% if request.resolver_match.url_name == 'friends' %} active {% endif %}">
                        <div class = "img-item">
                            <img class = "img-cover" src="{% static 'images/logo/people-logo.svg' %}" alt="">
                        </div>
                        <a href="{% url 'friends' %}">Друзі</a>
                    </div>

                    <div class="nav-item">
                        <div class = "img-item">
                            <img class = "img-cover" src="{% static 'images/logo/chat-logo.svg' %}" alt="">
                        </div>
                        <a href="">Чати</a>
                    </div>

                    <div class="nav-item{% if request.resolver_match.url_name == 'settings' %} active {% endif %}">
                        <div class = "img-item">
                            <img class = "img-cover" src="{% static 'images/logo/settings-logo.svg' %}" alt="">
                        </div>
                        <a href="{% url 'settings' %}">Налаштування</a>
                    </div>
                    <button><img src="{% static 'images/logo/exit-logo.svg' %}" alt=""> Вихід </button>
                </nav>
            </div>
        </header>

        <main>
            <div class = "main-container">
                
                <div class = "side-block">  
                    {% block side_block %}

                        <div class = "profile">
                            <div class = "profile-header">
                                <div class="profile-avatar-container">
                                    <div class = "avatar-circle-wrapper">
                                        <img class= "img-cover" src="{% static 'images/test_avatar.svg' %}" alt="">
                                    </div>
                                    <div class= "user-status"></div>
                                </div>

                                <div class= "main-profile-info">
                                    <p class = "main-profile-name">Lina Li</p>
                                    <p class = "main-profile-username">@thelili</p>
                                </div>
                            </div>

                            <div class = "profile-stats">
                                <div class = "stats-container vertical-line">
                                    <p class = "stats-value">566</p>
                                    <p class= "stats-title">Дописи</p>
                                </div>
                                <div class = "stats-container vertical-line">
                                    <p class = "stats-value">12.1K</p>
                                    <p class= "stats-title">Читачі</p>
                                </div>
                                <div class = "stats-container">
                                    <p class = "stats-value">222</p>
                                    <p class= "stats-title">Друзі</p>
                                </div>
                            </div>
                            {% block profile %}

                            {%endblock%}
                        </div>

                        {% block additional_side_blocks %}

                        {% endblock %}

                    {% endblock %}
                    </div>
            
                <div class = "content">
                    {% block content %}

                    {% endblock %}
                </div>    
                    
            </div>
        </main>
    </body>
</html>