{% load static %}
<div class="create-post-container">
    <div class = "close-modal">
        <img id = "close-modal" class = "img-cover position-absolute-right" src="{% static 'images/cross.svg' %}" alt="">
    </div>
    <p class = "create-post-title">Створення публікації</p>
    <form class="create-post-form" action="{% url 'create_post' %}" method="post" enctype="multipart/form-data">
        {{ form_create_post.as_div }}
        <p class="create-post-link">Посилання</p>
            <div class="links-list" id="links-list">
                <input type="url" name="links" placeholder="https://www.instagram.com/world.it.academy">
                <span class="add-link" id="add-link">+</span>
            </div>
        <div class = "bottom-menu">
            <img class = "img-cover" src="{% static 'post_app/images/add_image.svg' %}" alt="">
            <button class = "publish-button" type="submit">
                <span>Публікація</span>
                <div class= "arrow-img-container">
                    <img class = "img-cover" src="{% static 'post_app/images/arrow.svg' %}" alt="">
                </div> 
            </button>
        </div>
    </form>
</div>