{% load static %}
<div class = "profile">
    <div class = "profile-header">
        <div class="profile-avatar-container">
            <div class = "avatar-circle-wrapper">
                <img class= "img-cover" src="{% static 'images/test_avatar.svg' %}" alt="">
            </div>
            <div class= "user-status"></div>
        </div>

        <div class= "main-profile-info">
            <p class = "main-profile-name">{{ user.first_name }}</p>
            <p class = "main-profile-username">{{ user.username }}</p>
        </div>
    </div>

    <div class = "profile-stats">
        <div class = "stats-container vertical-line">
            <p class = "stats-value">566</p>
            <p class= "stats-title">Дописи</p>
        </div>
        <div class = "stats-container vertical-line">
            <p class = "stats-value">12.1K</p>
            <p class= "stats-title">Читачі</p>
        </div>
        <div class = "stats-container">
            <p class = "stats-value">222</p>
            <p class= "stats-title">Друзі</p>
        </div>
    </div>
    
</div>