{% extends "base.html" %}

{% load static %}
  
{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block title %}
    Auth
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'user_app/css/form_confirm_email.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/form_register.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/form_login.css' %}">
{% endblock %}

{% block content %}
   
    <div class = "auth-content">
        <div class="auth-forms">
            {% include "user_app/particles/form_register.html" %}
            {% include "user_app/particles/form_login.html" %}
            {% include "user_app/particles/form_confirm_email.html" %}
        </div>
        <div class="laptop-img-container">
            <img class="laptop-img" src="{% static 'user_app/images/laptop.svg' %}" alt="">
        </div>
    </div>
   
{% endblock %}

{% block scripts %}
    <script src="{% static 'user_app/js/auth.js' %}"></script>
{% endblock %}
