{% extends 'base.html' %}
{% load static %}

{% block links %}  
    <link rel="stylesheet" href="{% static 'home_app/css/home.css' %}">
{% endblock %}

{% block side_block %}
    <div class = "side-menu">
        <p class = "active-side-block-item">Головна</p>
        <p class= "side-block-item">Запити</p>
        <p class= "side-block-item">Рекомендації</p>
        <p class= "side-block-item">Всі друзі</p>
    </div>
    {% include "user_app/particles/friends/friends_nav.html" %}
{% endblock %}

{% block content %} 
    
    {% include "user_app/particles/friends/friends_main.html" %}
    {% include "user_app/particles/friends/friends_section.html" %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'user_app/js/friends_sections.js' %}"></script>
{% endblock %}