{% extends 'base.html' %}
{% load static %}

{% block links %}  
    <link rel="stylesheet" href="{% static 'user_app/css/friends.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/friends/friends_nav.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/friends/friends_main.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/friends/friends_cards.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/friends/friends_section.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/friends/confirm_action.css' %}">
{% endblock %}

{% block modals %}
    {% include "user_app/particles/friends/confirm_action.html" %}
{% endblock %}

{% block side_block %}
    {% include "user_app/particles/friends/friends_nav.html" %}
{% endblock %}

{% block content %} 
    {% include "user_app/particles/friends/friends_main.html" %}
    {% include "user_app/particles/friends/friends_section.html" %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'user_app/js/friends_sections.js' %}"></script>
    <script src="{% static 'user_app/js/friend_actions.js' %}"></script>
{% endblock %}