{% extends 'base.html' %}
{% load static %}

{% block links %}  
    <link rel="stylesheet" href="{% static 'user_app/css/friends.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/friends/friends_nav.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/friends/friends_main.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/friends/friends_cards.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/friends/friends_section.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/friends/confirm_action.css' %}">
{% endblock %}

{% block side_block %}
    {% include "particles/user_profile.html" %}
    {% block buttons %}

    {% endblock %}
{% endblock %}

{% block content %} 
    {% include 'particles/content_post.html' %}
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'post_app/js/postList.js' %} "></script>
    <script src="{% static 'user_app/js/friends_actions.js' %}"></script>
{% endblock %}
