.create-post-container{
    width: 53.6vw;
    background-color: white;
    border-radius: 1.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.3vh;
}
.close-modal{
    position: relative;
    width: 47.5vw;
    height: 1.9vh;
}
.position-absolute-right{
    position: absolute;
    right: 0;
}
.create-post-title{
    width: 47.5vw;
    color: rgba(7, 10, 28, 1);
    font-size: 3.3vh;
    font-weight: 500;
    font-family: var(--FontMedium);
}
.create-post-form{
    width: 47.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5vh;
    padding: 2.3vh 0;
}

.create-post-form div{
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}
.create-post-form div label{
    color: rgba(7, 10, 28, 1);
    font-size: 1.5vh;
    font-family: var(--FontRegular);
}

.text-input{
    width: 23.8vw;
    height: 4.1vh;
    padding: 0 1.1vw;
    color: rgba(7, 10, 28, 1);
    font-size: 1.5vh;
    font-family: var(--FontRegular);
    border-radius: 0.9vh;
    border: rgba(129, 129, 141, 1) solid 0.1vw;
}

.create-post-form div textarea{ 
    height: 12.3vh;
    padding: 1.5vh 1.1vw;
    color: rgba(7, 10, 28, 1);
    font-size: 1.5vh;
    font-family: var(--FontRegular);
    border-radius: 0.9vh;
    border: rgba(129, 129, 141, 1) solid 0.1vw;
    resize: none;
}
.create-post-form div textarea::-webkit-scrollbar {
    width: 0.5vw; 
    height: 11.2vh; 
}

.create-post-form div textarea::-webkit-scrollbar-track {
    background: rgba(233, 229, 238, 1); 
    border-radius: 0.5vh;
}

.create-post-form div textarea::-webkit-scrollbar-thumb {
    background: rgba(84, 60, 82, 1); 
    border-radius: 0.9vh;
}

.images-input{
    display: none;
}

.create-post-form .bottom-menu{
    display: flex;
    flex-direction: row;
    width: 47.5vw;
    gap: 0.6vw;
    height: 3.9vh;
    justify-content: right;
}

.publish-button{
    border-radius: 1234px;
    background-color: rgba(84, 60, 82, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1.3vh;
    font-weight: 500;
    font-family: var(--FontMedium);
    gap: 0.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 9vw;
    border: none;
}
.arrow-img-container{
    height: 1.9vh;
}