body{
    background-color: rgba(233, 229, 238, 1);
}
main{
    max-width: fit-content;
}
header{
    max-height: 8.6vh;
}
.error{
    color: red;
}
.login-title span, .register-title span{
    padding-bottom: 0.7vh;
}

.form-title-border{
    border-bottom: 0.3vh solid #543C52;
}

.navigation{
    max-width: 88vw;
}
.logo{
    max-height: 1.8vh;
}

.form-field{
    border: none;
    width: 100%;
    color: rgba(7, 10, 28, 1);
    font-size: 1.5vh;
    font-family: var(--FontRegular);
}   
.form-field:focus {
    outline: none;
}
.form-input-field-container:focus-within{
    border: solid black 0.01rem;
}
.form-field:focus::placeholder{
    color: transparent;
}
.form-input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 6.4vh;
}

.form-input-label{
    color: rgba(7, 10, 28, 1);
    font-size: 1.5vh;
    font-family: var(--FontRegular);
}
.form-field::placeholder{
    color: rgba(129, 129, 141, 1);
    font-size: 1.5vh;
    font-family: var(--FontRegular);
}
.input-containers{
    display: flex;
    flex-direction: column;
    width: 27.7vw;
    gap: 1.5vh;
}
.form-input-field-container{
    border-radius: 0.9vh;
    height: 4.1vh;
    border: 0.01rem solid rgba(205, 206, 210, 1);
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1.1vw;
    padding-right: 1.1vw;
    gap: 0.6vw;
}
.eye-img-container{
    width: 1.9vh;
    max-width: 20px;
    height: 1.9vh;
    max-height: 20px;
}

.eye{
    cursor: pointer;
}
.auth-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.laptop-img-container{
    position: absolute;
    z-index: 1;
    height: 51vh;
    left: 50%;
}
.auth-forms{
    position: relative;
    z-index: 2;
}
.laptop-img{
    height: 100%;
}
.border-dark-blue{
    border: 0.1rem rgba(7, 10, 28, 1) solid;
}
.border-green{
    border: 0.1rem rgba(34, 197, 94, 1) solid;
}
.text-dark-blue{
    color: rgba(7, 10, 28, 1);
}