*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login-div{
    width: 33.8vw;
    height: 46.7vh;
    background-color: white;
    border-radius: 2.2vh;
    display: none;
    flex-direction: column;
    align-items: center;
}

.login-text{
    font-size: 3.3vh;
    font-family: var(--FontBold);
    border-bottom: 0.3vh solid #543C52;
    display: inline-block;
    cursor: default;
    padding: 0;
}

span {
    padding-bottom: 0.5vh;
}

.registration-text{
    font-size: 3.3vh;
    font-family: var(--FontMedium);
    color: gray;
    cursor: pointer;
    padding: 0;
}

p{
    display: flex;
    justify-content: center;
    font-size: 2.5vh;
    font-family: var(--FontMedium);
}

.login-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6vw;
    padding-top: 4.2vh;
    padding-bottom: 3.5vh;
    border-radius: 2vh;

}


.login-button{
    width: 27.7vw;
    height: 5vh;
    color: white;
    border-radius: 2.5vh;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #543C52;
    margin: 0 auto;
    margin-top: 3.5vh;
    top: 3.5vh;
    border: none;
    font-family: var(--FontRegular);
    font-size: 1.5vh;
}

.login-form{
    padding-top: 3.5vh;
    padding-bottom: 12.8vh;
}