
.register-div{  
    width: 33.8vw;
    height: 53.9vh;
    background-color: white;
    border-radius: 1.9vh;
    display: flex;
    flex-direction: column;     
    align-items: center;
    justify-content: center;
    gap: 3.5vh;
}

.register-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6vw;
}

.register-message p{
    text-align: center;
    font-size: 2.5vh;
    font-family: var(--FontMedium);
    width: 27.7vw;
}

.register-form{
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
}

.register-text{
    font-size: 3.3vh;
    font-family: var(--FontBold);
    border-bottom: 0.3vh solid #543C52;
    cursor: default;
}

.register-login-text{
    font-size: 3.3vh;
    font-family: var(--FontMedium);
    color: #81818D;
    cursor: pointer;
}

.register-button{
    width: 27.7vw;
    height: 5vh;
    display: flex;          
    color: white;
    background-color: #543C52;
    border-radius: 2.5vh;
    border: none;
    font-family: var(--FontRegular);
    font-size: 1.5vh;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
}