.login-div{
    width: 33.8vw;
    height: 46.7vh;
    background-color: white;
    border-radius: 1.9vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.5vh;
}

.login-text{
    font-size: 3.3vh;
    font-family: var(--FontBold);
    cursor: default;
}

.registration-text{
    font-size: 3.3vh;
    font-family: var(--FontMedium);
    color: gray;
    cursor: pointer;
}

.login-message p{
    text-align: center;
    font-size: 2.5vh;
    font-family: var(--FontMedium);
    width: 27.7vw;
}

.login-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6vw;
}

.login-button{
    width: 27.7vw;
    height: 5vh;
    color: white;
    border-radius: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #543C52;
    border: none;
    font-family: var(--FontRegular);
    font-size: 1.5vh;
    gap: 1.5vh;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
}

.login-error-mesage{
    font-family: var(--FontRegular);
    font-size: 1.5vh;
    gap: 1.5vh;
}