.chat-profile-container {
    max-width: 351px;
    width: 24.3vw;
    height: 81.44vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.chat-profile{
    display: flex;
    flex-direction: column;
    padding: 1.56vh 0 0 1.5vh ;
    gap: 2.3vh;
    flex-grow: 1;
    height: calc(81.44vh - 3.9vh - 1.5vh);
    height: 79.20vh;
    border-radius: 1vh;
    background-color: #ffffff;
    border: rgba(205, 206, 210, 1) solid 0.1vw;
    box-sizing: border-box;
}

.chat-profile-button{
    max-height: 3.9vh;
    height: 3.9vh;
    flex-shrink: 0;
    margin-bottom: 0.8vh;
    border-radius: 1234px;
    background-color: rgba(84, 60, 82, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8vh;
}

.plus-img{
    width: 1vw;
    height: 1.5vh;
}

.create-chat{
    font-size: 1.36vh;
    font-family: var(--FontRegular);
}

.chat-contacts-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4vh;
    padding-right: 1.5vh;
}

.contacts-img{
    width: 1.5vw;
    height: 1.5vh;
}

.chat-contacts{

    font-size: 2vh;
    font-family: var(--FontRegular);
    color: #81818D;
}

.chat-container {
    max-width: 564px;
    width: 39.1vw;
    height: 81.44vh;
    border-radius: clamp(0.1rem, 0.9vh, 0.625rem);
    background-color: #ffffff;
    border: rgba(205, 206, 210, 1) solid 0.1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    text-align: center;
}

.text1-container{
    font-family: var(--FontMedium);
    font-size: 2.34vh;
    margin-bottom: 2.34vh;
}

.text2-container{
    font-family: var(--FontRegular);
    font-size: 1.56vh;
}

.chat-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: clamp(0.1rem, 0.2vw, 0.2rem);
}

input {
    height: 4.1vh;
    box-sizing: border-box;
    display: block; 
}

.search-wrapper {
    position: relative;
    width: 100%; 
    padding-right: 1.5vh;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    margin-left: 1.56vh;
}

.search-wrapper input {
    width: 100%;            
    padding-left: 4.5vh;
    border: rgba(205, 206, 210, 1) solid 0.1vw;
    border-radius: 1vh; 
    font-family: var(--FontRegular);       
}
