{% load static %}

<div class="login-div">
    <div class="login-title">
        <span class = "registration-text">Реєстрація</span>
        <span class = "login-text form-title-border">Авторизація</span>
    </div>
    <div class = "login-message">
        <p>Раді тебе знову бачити!</p>
    </div>
    <form class="login-form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="input-containers">
            <div class = "form-input-container">
                <span class = "form-input-label">{{ form_login.username.label }}</span>
                <div class = "form-input-field-container">
                    {{ form_login.username }}
                </div>
            </div>
            <div class = "form-input-container">
                <span class = "form-input-label">{{ form_login.password.label }}</span>
                <div class = "form-input-field-container">
                    {{ form_login.password }}
                    <div class="eye-img-container">
                        <img class="img-cover eye" src = "{% static 'user_app/images/eye_close.svg'%}" eye-open-src = "{% static 'user_app/images/eye_open.svg'%}" eye-close-src = "{% static 'user_app/images/eye_close.svg'%}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <button class="login-button" type="submit">Увійти</button>
    </form>
</div>

