{% load static %}
<div class = "confirm-email-div">
    <p class = "confirm-email-title">Підтвердження пошти</p>
    <div class="confirm-email-message">
        <p>Ми надіслали 6-значний код на вашу пошту (<span id = "entered-email"></span>). Введіть його нижче, щоб підтвердити акаунт</p>
    </div>
    
    
    <form class="confirm-email-form" action = "{% url 'confirm_email' %}" method = "post">
        <div class = "code-input-container">
            <span class="form-input-label">{{ form_confirm.code.label}}</span>
            <div class = "code-input-decoration-container">
                {{ form_confirm.code }}
                <div class = "input-couple">
                    <div class= "input-cell">
                        <span class="cell-text">___</span>
                    </div>
                    <div class= "input-cell">
                        <span class="cell-text">___</span>
                    </div>
                </div>
                <div class = "input-couple">
                    <div class= "input-cell">
                        <span class="cell-text">___</span>
                    </div>
                    <div class= "input-cell">
                        <span class="cell-text">___</span>
                    </div>
                </div>
                <div class = "input-couple">
                    <div class= "input-cell">
                        <span class="cell-text">___</span>
                    </div>
                    <div class= "input-cell">
                        <span class="cell-text">___</span>
                    </div>
                </div>
            </div>
        </div>
        <p class = "confirm-email-error-mesage error"></p>
        <div class= "confirm-email-form-btns">
            <button class = "confirm-email-form-confirm-btn" type="submit">Підтвердити</button>
            <p class = "confirm-email-form-back-btn" >Назад</p>
        </div>
    </form>
    
</div>