{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'user_app/css/form_login.css' %}">
{% endblock %}
<div class="login-div">
    <div class="login-title">
        <span class = "registration-text">Реєстрація</span>
        <span class = "login-text">Авторизація</span>
    </div>
    <p>Раді тебе знову бачити!</p>
    <form class="login-form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="input-containers">
            <div class = "form-input-container">
                <span class = "form-input-label">{{ form_login.username.label }}</span>
                <div class = "form-input-field-container">
                    {{ form_login.username }}
                </div>
                {{ form_login.username.errors }}
            </div>
            <div class = "form-input-container">
                <span class = "form-input-label">{{ form_login.password.label }}</span>
                <div class = "form-input-field-container">
                    {{ form_login.password }}
                    <div class="eye-img-container">
                        <img class="img-cover eye" src = "{% static 'user_app/images/eye_close.svg'%}" eye-open-src = "{% static 'user_app/images/eye_open.svg'%}" eye-close-src = "{% static 'user_app/images/eye_close.svg'%}" alt="">
                    </div>
                </div>
                {{ form_login.password.errors }}
            </div>
        </div>
        <button class="login-button" type="submit">Увійти</button>
    </form>
</div>

