{% load static %}
<div class = "confirm-email-div">
    <p class = "confirm-email-title">Підтвердження пошти</p>
    <div class="confirm-email-message">
        <p>Ми надіслали 6-значний код на вашу пошту</p>
        <p>(you@example.com). Введіть його нижче, щоб</p>
        <p>підтвердити акаунт</p>
    </div>
    
    
    <form class="confirm-email-form" action = "{% url 'confirm_email' %}" method = "post">
        {% csrf_token %}    
        <div class = "code-input-container">
            <span class="form-input-label">{{ form_confirm.code.label}}Код підтвердження</span>
            <div class = "code-input-decoration-container">
                {{ form_confirm.code}}
                <div class = "input-couple">
                    <img class = "img-cover" src="{% static 'user_app/images/code_input.svg'%}" alt="">
                    <img class = "img-cover" src="{% static 'user_app/images/code_input.svg'%}" alt="">
                </div>
                <div class = "input-couple">
                    <img class = "img-cover" src="{% static 'user_app/images/code_input.svg'%}" alt="">
                    <img class = "img-cover" src="{% static 'user_app/images/code_input.svg'%}" alt="">
                </div>
                <div class = "input-couple">
                    <img class = "img-cover" src="{% static 'user_app/images/code_input.svg'%}" alt="">
                    <img class = "img-cover" src="{% static 'user_app/images/code_input.svg'%}" alt="">
                </div>
            </div>
        </div>
        <div class= "confirm-email-form-btns">
            <button class = "confirm-email-form-confirm-btn" type="submit">Підтвердити</button>
            <p class = "confirm-email-form-back-btn" >Назад</p>
        </div>
    </form>
    
</div>