{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'user_app/css/form_register.css' %}">
{% endblock %}
<div class="register-div">
    <div class="register-title">
        <span class = "register-text">Реєстрація</span>
        <span class = "register-login-text">Авторизація</span>
    </div>
    <p>Приєднуйся до World IT</p>
    <form class="register-form" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class= "input-containers">
            <div class = "form-input-container">
            <span class = "form-input-label">{{ form_register.email.label }}</span>
            {{ form_register.email }}
            {{ form_register.email.errors }}
            </div>
            <div class = "form-input-container">
                <span class = "form-input-label">{{ form_register.password1.label }}</span>
                {{ form_register.password1 }}
                {{ form_register.password1.errors }}
            </div>
            <div class = "form-input-container">
                <span class = "form-input-label">{{ form_register.password2.label }}</span>
                {{ form_register.password2 }}
                {{ form_register.password2.errors }}
            </div>
        </div>
        
        <button class="register-button "type="submit">Створити акаунт</button>
    </form>
</div>
