{% load static %}
<div class="register-div">
    <div class="register-title">
        <span class = "register-text">Реєстрація</span>
        <span class = "register-login-text">Авторизація</span>
    </div>
    <p>Приєднуйся до World IT</p>
    <form class="register-form" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class= "input-containers">
            <div class = "form-input-container">
                <span class = "form-input-label">{{ form_register.email.label }}</span>
                <div class = "form-input-field-container">
                    {{ form_register.email }}
                </div>
                {{ form_register.email.errors }}
                </div>
                <div class = "form-input-container">
                    <span class = "form-input-label">{{ form_register.password1.label }}</span>
                <div class = "form-input-field-container">
                    {{ form_register.password1 }}
                    <div class="eye-img-container">
                        <img class="img-cover eye" eye-open-src = "{% static 'user_app/images/eye_open.svg'%}" eye-close-src = "{% static 'user_app/images/eye_close.svg'%}" src = "{% static 'user_app/images/eye_close.svg'%}" alt="">
                    </div>
                </div>  
            </div>
            <div class = "form-input-container">
                <span class = "form-input-label">{{ form_register.password2.label }}</span>
                <div class = "form-input-field-container">
                    {{ form_register.password2 }}
                    <div class="eye-img-container">
                        <img class="img-cover eye" eye-open-src = "{% static 'user_app/images/eye_open.svg'%}" eye-close-src = "{% static 'user_app/images/eye_close.svg'%}" src = "{% static 'user_app/images/eye_close.svg'%}" alt="">
                    </div>
                </div>
    
            </div>
        </div>
        
        <button class="register-button" type="submit">Створити акаунт</button>
    </form>
</div>
