{% load static %}
<div class = "profile">
    <div class = "profile-header">
        <div class="profile-avatar-container">
            <div class = "avatar-circle-wrapper">
                <img class= "img-cover" src="{% static 'images/test_avatar.svg' %}" alt="">
            </div>
            <div class="status-indicator" data-user-id="{{ person.id }}"></div>
        </div>

        <div class= "main-profile-info">
            <p class = "main-profile-name">{{ person.first_name }}</p>
            <p class = "main-profile-username">@{{ person.username }}</p>
        </div>
    </div>

    <div class = "profile-stats">
        <div class = "stats-container vertical-line">
            <p class = "stats-value">566</p>
            <p class= "stats-title">Дописи</p>
        </div>
        <div class = "stats-container vertical-line">
            <p class = "stats-value">12.1K</p>
            <p class= "stats-title">Читачі</p>
        </div>
        <div class = "stats-container">
            <p class = "stats-value">222</p>
            <p class= "stats-title">Друзі</p>
        </div>
    </div>
    <div class="buttons-card-div">
            {% if status == "request_received" %}
                <button class="action-btn accept" data-url="{% url 'friend_action' person.id 'accept' %}" data-redirect = "{% url 'friends' %}">Підтвердити</button>
                <button class="action-btn reject" data-url="{% url 'friend_action' person.id 'delete' %}" data-redirect = "{% url 'friends' %}">Відхилити</button>
            {% elif status == "request_sent" %}
                <button class="action-btn accept" >Очікування</button>
                <button class="action-btn reject" data-url="{% url 'friend_action' person.id 'delete' %}" data-redirect = "{% url 'friends' %}">Видалити</button>
            {% elif status == "accepted" %}
                <button class="action-btn accept" data-redirect = "{% url 'chat' %}">Повідомлення</button>
                <button class="action-btn reject" data-url="{% url 'friend_action' person.id 'delete' %}" data-redirect = "{% url 'friends' %}">Видалити</button>
            {% else %}
                <button class="action-btn accept" data-url="{% url 'friend_action' person.id 'add' %}">Додати</button>
                <button class="action-btn reject" data-url="{% url 'friend_action' person.id 'dismiss' %}" data-redirect = "{% url 'friends' %}">Видалити</button>
            {% endif %}
        </div>
</div>