{% extends "base.html" %}
{% load static %}

{% block links %}  
    <link rel="stylesheet" href="{% static 'home_app/css/home.css' %}">
{% endblock %}

{% block side_block %}
    {% include 'particles/user_profile.html' %}
    <div class = "requests">
        <div class="side-block-header">
            <div class= "title-container">
                <div class="title-image-wrapper">
                    <img class = "img-cover" src="{% static 'home_app/images/people.svg' %}" alt="">
                </div>
                <p>Запити</p>
            </div>
            <a class = "title-ref" href="">Дивитись всі</a>
        </div>
        <div class = "recommended-requests">
            <div class="request-profile">
                <div class= "profile-img-wrapper">
                    <img class = "img-cover" src="{% static 'home_app/images/person_1.svg' %}" alt="">
                </div>
                <div class = "profile-info">
                    <p class= "profile-name">Yehor Aung</p>
                    <p class = "followers-amount">4.3к підписників</p>
                </div>
            </div>
            <div class="request-profile">
                <div class= "profile-img-wrapper">
                    <img class = "img-cover" src="{% static 'home_app/images/person_2.svg' %}" alt="">
                </div>
                <div class = "profile-info">
                    <p class= "profile-name">Ann Ann</p>
                    <p class = "followers-amount">1.6к підписників</p>
                </div>
            </div>
            <div class="request-profile">
                <div class= "profile-img-wrapper">
                    <img class = "img-cover" src="{% static 'home_app/images/person_3.svg' %}" alt="">
                </div>
                <div class = "profile-info">
                    <p class= "profile-name">Yeugen Jenua</p>
                    <p class = "followers-amount">10.3к підписників</p>
                </div>
            </div>
        </div>
    </div>

    <div class = "messages">
        <div class="side-block-header">
            <div class= "title-container">
                <div class="title-image-wrapper">
                    <img class = "img-cover" src="{% static 'home_app/images/chat.svg' %}" alt="">
                </div>
                <p>Повідомлення</p>
            </div>
            <a class = "title-ref" href="">Дивитись всі</a>
        </div>
        <div class = "messages-container">
            <div class="message-profile new-message">
                <div class= "profile-img-wrapper">
                    <img class = "img-cover" src="{% static 'home_app/images/person_4.svg' %}" alt="">
                </div>
                <div class = "message-info">
                    <div class= "message-header">
                        <p class= "profile-name">Mona Lisa</p>
                        <p class = "message-time">09:41</p> 
                    </div>
                    <p class = "message-text">Привіт! Як справи ?</p>
                </div>
            </div>
            <div class="message-profile new-message">
                <div class= "profile-img-wrapper">
                    <img class = "img-cover" src="{% static 'home_app/images/person_5.svg' %}" alt="">
                </div>
                <div class = "message-info">
                    <div class= "message-header">
                        <p class= "profile-name">Ann Ti</p>
                        <p class = "message-time">25.04.2025</p> 
                    </div>
                    <p class = "message-text">Привіт!</p>
                </div>
            </div>
            <div class="message-profile">
                <div class= "profile-img-wrapper">
                    <img class = "img-cover" src="{% static 'home_app/images/person_6.svg' %}" alt="">
                </div>
                <div class = "message-info">
                    <div class= "message-header">
                        <p class= "profile-name">Ness Ty</p>
                        <p class = "message-time">25.04.2025</p> 
                    </div>
                    <p class = "message-text">Привіт!</p>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block content %}
{% endblock %}