{% load static %}
<div class="first-login-container">
    <span class = "first-login-title" >Додай деталі про себе</span>

    <form class="first-login-form" action="{% url 'first_login' %}" method="post">
        <div class="input-containers-container">
            <div class = "form-input-container">
                <span class = "form-input-label">{{ first_login_form.first_name.label }}</span>
                <div class = "form-input-field-container">
                    {{ first_login_form.first_name}}
                </div>
            </div>
            <div class = "form-input-container">
                <span class = "form-input-label">{{ first_login_form.username.label }}</span>
                <div class = "form-input-field-container">
                    {{ first_login_form.username}}
                </div>
            </div>
        </div>

        <button class="first-login-button" type="submit">Продовжити</button>
    </form>
</div>