{% extends 'base.html' %}
{% load static %}

{% block links %}  
    <link rel="stylesheet" href="{% static 'post_app/css/my_posts.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/create_post.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/show_post.css' %}">
{% endblock %}

{% block modals %}
    {% include 'particles/create_post.html' %}
{% endblock %}

{% block side_block %}
    {% include 'particles/user_profile.html' %}
{% endblock %}

{% block content %}
    {% include 'particles/content_post.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'post_app/js/createPost.js' %}"></script>
    <!-- <script type="module" src="{% static 'js/renderErrors.js' %}" ></script> -->
    <script type="module" src="{% static 'post_app/js/postList.js' %} "></script>
{% endblock %}