{% load static %}
<div id="chatWindow" class="chat-window" data-user-username = "{{ user.username }}">
    <div id="messages" class="chat-messages"></div>
    <form id="messageForm" class="message-form">
        <input id="messageImages" type="file" accept="image/*" multiple hidden>
        <input id="messageInput" class="message-input" type="text" placeholder="Повідомлення">
        <div class="message-img-div">
            <img class="img-post" id = "messageImageButton" src="{% static 'chat_app/images/chat-post.svg' %}" alt="">
            <button class="message-send-button">
                <img class="img-send" src="{% static 'chat_app/images/send-message.svg' %}" alt="">
            </button>
        </div>
    </form>
</div>  