{% load static %}
<div class="chat-alert-container">
    <div class= "messages">
        <div class="chat-alert-container-header">
            <div class= "header-title">
                <div class= "header-img-container">
                    <img class = "img-cover" src="{% static 'home_app/images/chat.svg' %}" alt="">
                </div>
                <span class= "header-title-text">Повідомлення</span>
            </div>
        </div>
        <div class="chat-list">
            {% include 'chat_app/particles/chat_container.html' %}
        </div>
    </div>
    <div class = "group-chats">
        <div class="chat-alert-container-header">
            <div class= "header-title">
                <div class= "header-img-container">
                    <img class = "img-cover" src="{% static 'home_app/images/chat.svg' %}" alt="">
                </div>
                <span class= "header-title-text">Групові чати</span>
            </div>
        </div>
        <div class="chat-list">
            {% include 'chat_app/particles/chat_groups.html' %}
        </div>
    </div>
</div>
