{% load static %}
<div class="message-profile">
    <div id="group-list">
        {% for chat in group_chats %}
            <div class = "profile-img-wrapper">
                <!-- <img class = "img-cover" src="{% static 'home_app/images/person_4.svg' %}" alt=""> -->
            </div>
            <div class="message-info">
                    <button type="button" 
                    class="chat-group-button" 
                    data-chat-title="{{ chat.name }}" 
                    data-chat-id="{{ chat.id }}" 
                    data-members-amount="{{ chat.users.count }}"
                    data-group-members="{% for user in chat.users.all %}{{ user.id }},{% endfor %}">
                        <div class = "profile-img-wrapper">
                            <img class = "img-cover" src="{% static 'home_app/images/person_4.svg' %}" alt="">
                        </div>
                        <div class="person-profile">
                            <div class = "last-message-header">
                                {{ chat.name }}
                                {% if message.chat_id == chat.id %}
                                <span class="created-at">{{ message.created_at }}</span>
                                
                            </div>
                            
                            <p class="last-message-text">
                                {{ message.text }}
                            </p>
                            {% endif %}
                        </div>
                    </button>
                </div>
        {% empty %}
            <p id="group-empty">Порожньо</p>
        {% endfor %}
    </div>
</div>


