{% load static %}
<div id="group-settings-modal" class="group-settings" hidden>
    <div class="group-settings__box">
        <div id="group-settinds-admin">
            <img class="three-menu-back" src="{% static 'chat_app/images/three-menu.svg' %}" id="close-settings-modal" alt="">

            <div class="group-img-div">
                <img class="group-media-img" src="{% static 'chat_app/images/choose-group-photo-black.svg' %}" alt="">
                <span>Медіа</span>
            </div>
            <div id="open-group-edit-modal" class="group-edit-div">
                <img class="group-pen-img" src="{% static 'chat_app/images/pen.svg' %}" alt="">
                <span>Редагувати групу</span>
            </div>
            <hr>
            <div class="group-delete-div">
                <img class="group-delete-img" src="{% static 'chat_app/images/delete-group-member.svg' %}" alt="">
                <span>Видалити чат</span>
            </div>
        </div>
        <div class="group-settings-user">

        </div>
    </div>
</div>