{% load static %}
<div id="group-add-modal" class="group-add-modal" hidden>
    <img src="{% static 'images/cross.svg' %}" id="close-group-add-modal" class="group-add-modal__close" alt="">
    <h2 class="add-participants">Додати учасника</h2>
    <div class="group-add-search-wrapper">
        <img class="group-add-search-icon" src="{% static 'chat_app/images/loupe.svg' %}" alt="">
        <input id="group-add-search" class="search-add-users" type="text" placeholder="Пошук">
    </div>
    <p class="add-user-count">Вибрано: <span id="selected-add-count">0</span></p>
    <div class="group-add-friends" id="group-add-friends-list"></div>
    <div class="group-add-modal__actions">
        <button class="group-add-cencel-btn" id="cancel-group-add-modal" type="button">Скасувати</button>
        <button class="group-add-next-btn" id="group-add-save-btn" type="button">Зберегти</button>
    </div>
</div>