{% load static %}
<div id="group-settings-modal" class="group-settings" hidden>
    <div class="group-settings__box">
        <div id="group-settinds-admin">
            <img src="{% static 'chat_app/images/three-menu.svg' %}" id="close-settings-modal" alt="">

            <div>
                <img src="" alt="">
                <span>Медіа</span>
            </div>
            <div>
                <img src="" alt="">
                <span>Редагувати групу</span>
            </div>
            <div>
                <img src="" alt="">
                <span>Видалити чат</span>
            </div>
        </div>
        <div class="group-settings-user">

        </div>
    </div>
</div>