{% extends 'base.html' %}
{% load static %}

{% block title %} Чат {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'chat_app/css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/chat_block.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/chat_container.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/chat_profiles.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/chat_main.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/group_modal.css' %}">
{% endblock %}

{% block modals %}
    {% include 'chat_app/particles/group_modal.html' %}
{% endblock %}

{% block side_block %}
     <div class="chat-profile-container">
        <button id="open-group-modal" class="chat-profile-button">
            <img class = "plus-img" src="{% static 'chat_app/images/plus.svg' %}" alt="">
            <span class="create-chat">Створити груповий чат</span>
        </button>

        <div class="chat-profile">
            <div class="chat-contacts-div">
                <img class = "contacts-img" src="{% static 'chat_app/images/contacts.svg' %}" alt="">
                <span class="chat-contacts">Контакти</span>
            </div>
            <div class="search-wrapper"> 
                <img class="search-icon" src="{% static 'chat_app/images/loupe.svg' %}" alt="">
                <input type="text" placeholder="Пошук">
            </div>
            <div class="chat-profiles">
                {% for friend in friends %}
                    {% include 'chat_app/particles/chat_profiles.html' with friend=friend %}
                {% empty %}
                    <span class="contacts-text">У вас поки немає контактів</span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="chat-content">
        {% include 'chat_app/particles/chat_main.html' %}
        {% include 'chat_app/particles/chats_block.html' %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'chat_app/js/chat.js' %}"></script>
    <script src="{% static 'chat_app/js/chat_history.js' %}"></script>
    <script src="{% static 'chat_app/js/group_chat.js' %}"></script>
{% endblock %}