.nav-item{
    padding: clamp(0.1rem, 0.3vh, 0.25rem) clamp(0.1rem, 0.5vw, 0.5rem);
    border-radius: 2%/10%;
    display: flex;
    align-items: center;
    gap: clamp(0.1rem, 0.5vw, 0.5rem);
}
.nav-item a{
    font-size: clamp(0.1rem, 1.5vh, 1rem);
}
.nav-item.active{
    background-color: #E9E5EE;
}

.img-item{
    width: 1.9vh;
    height: 1.9vh;
    max-width: 20px;
    max-height: 20px;
}

.navigation a{
    text-decoration: none;
    font-family: var(--FontMedium);
    color: black;
}

.logo{
    height: 1.8vh;
    max-height: 18px;
    display: flex;
}

.navigation button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(0.1rem, 0.5vw, 0.5rem); 
    background: transparent;
    border: 0.1vh solid #543C52;
    padding: clamp(0.1rem, 1vh, 0.625rem) clamp(0.1rem, 1vw, 1rem); 
    border-radius: 20%/50%; 
    font-size: clamp(0.1rem, 1.3vh, 0.875rem);
    color: #543C52;
    font-family: var(--FontMedium);
    font-weight: 500;
}