.side-block{
    position: fixed;
    display: flex;
    flex-direction: column;
    
    gap: clamp(0.1rem, 0.7vh,  0.5rem);
}

.content{
    width: 64vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.side-block-spacer{
    width: 24vw;
}